/*
    画面共通CSS
*/

.content {
    background-color: darkgray;
}

.outer {
    width: 1200px;
    margin: 0 auto;
    background-color: #eee;
}

@media screen and (max-height: 1000px) {
    /*　画面高さが0pxからはここを読み込む　*/
    .content {
        min-height: 1000px;
    }

    .outer {
        min-height: 1000px;
    }
}

@media screen and (min-height: 1000px) {
    /*　画面高さが0pxからはここを読み込む　*/
    .content {
        min-height: 100vh;
    }

    .outer {
        min-height: 1000px;
    }
}

.inner {
    width: 90%;
    padding-top: 40px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-title,
.header-title a {
    color: #375df5;
    font-size: xx-large;
}

.header-title a {
    text-decoration: none;
}
