/*
    パスワード再設定ページ CSS
*/

.reset-password-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.reset-password-form {
    height: 350px;
    width: 600px;
    background-color: white;
    border-radius: 7px;
    overflow: hidden;
}

.reset-password-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 15%;
    background-color: palegoldenrod;
    color: white;
    font-size: x-large;
    padding-left: 5%;
}

.input-title {
    width: 150px;
    display: inline-block;
    padding-right: 10px;
    margin-left: 7%;
    vertical-align: middle;
}

.email-block {
    margin-top: 20px;
}

.email-input,
.password-input,
.email-input:-webkit-autofill,
.password-input:-webkit-autofill {
    width: 50%;
    height: 30px;
    border: 1px solid gray;
    background-color: whitesmoke;
}

.foot {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15%;
}

.reset-password-btn {
    background-color: skyblue;
    color: white;
    border-radius: 3px;
    border-width: 0px;
    padding: 5px 10px;
    min-width: 100px;
}

.error {
    margin: 8px auto 0px;
    color: red;
    text-align: left;
    padding-left: 15%;
}
