/*
    レストラン関連ページ CSS
*/

.detail-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.restaurant-info {
    width: 50%;
}

.img-container {
    width: 100%;
}

img {
    width: 100%;
}

.slick-img.slick-slide {
    height: 360px;
    object-fit: cover;
}

.thumnail-img.slick-slide {
    height: 70px;
    object-fit: cover;
}

.thumbnail {
    margin-top: 20px;
    margin-bottom: 40px;
}

.name-and-favorite-block {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 20px;
}

.restaurant-name {
    color: black;
    font-size: xx-large;
    font-weight: bold;
}

.img-favorite {
    width: 50px;
    height: 50px;
}

.restaurant-attr {
    padding: 20px 0;
}

.restaurant-explain {
    line-height: 160%;
}

.btn-back {
    height: 50px;
    width: 100px;
    font-size: large;
    background-color: gainsboro;
    border-color: gray;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 20px;
}
