/*
    レストラン関連ページ CSS
*/

.header-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-user p {
    margin-right: 15px;
}

.form-search {
    display: felx;
    justify-content: left;
    margin-top: 20px;
}

fieldset {
    display: inline-block;
    border: 0.5px solid gray;
}

legend {
    margin-left: 15px;
}

.search-block {
    margin: 10px 15px;
}

.select-area-block,
.select-genre-block,
.search-name-block {
    display: inline-block;
    margin-right: 30px;
}

.select-area-title,
.select-genre-title,
.search-name-title {
    display: inline-block;
    margin-right: 5px;
}

.select-area,
.select-genre {
    width: 150px;
}

.btn-search {
    padding: 3px 20px;
    border-color: aquamarine;
    border-radius: 5px;
    background-color: aquamarine;
}

.card-set {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-content: flex-start;
    margin-top: 20px;
}

.card {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    width: 256px;
    margin-right: 10px;
}

.restaurant-item {
    width: 85%;
    margin: 15px auto;
}

.restaurant-name {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: medium;
    font-weight: bolder;
}

span {
    font-size: small;
    color: gray;
}

img {
    width: 100%;
    height: 125px;
    object-fit: cover;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.card-bottom img {
    width: 30px;
    height: 30px;
}

.btn-detail {
    background-color: #375df5;
    color: white;
    padding: 3px 15px;
    border-radius: 3px;
    border-width: 0px;
}
