/*
    レストラン関連ページ CSS
*/

.detail-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.restaurant-info {
    width: 50%;
}

.img-container {
    width: 100%;
}

img {
    width: 100%;
}

.slick-img.slick-slide {
    height: 360px;
    object-fit: cover;
}

.thumnail-img.slick-slide {
    height: 70px;
    object-fit: cover;
}

.thumbnail {
    margin-top: 20px;
    margin-bottom: 40px;
}

.restaurant-name {
    color: black;
    font-size: xx-large;
    font-weight: bold;
    padding: 50px 0 20px;
}

.restaurant-attr {
    padding: 20px 0;
}

.restaurant-explain {
    line-height: 160%;
}
